<!-- used to hide little links -->
<style>
.x{margin-bottom: 44px;color:#fff;font-size:0.5em}
</style>
<ol type="1">
<li><a href="#section">Notes and Info management</a></li>
<li><a href="#section-1">Writing</a></br> 2.1 <a
href="#section-2">Online Tools</a></li>
<li><a href="#section-3">Citations and Bibliography</a></li>
<li><a href="#section-4">Outliners</a></li>
<li><a href="#section-5">Other stuff</a></li>
</ol>
<p>Getting something done efficiently and well starts with choosing the
right tools for the job, and the most common aren’t necessarily always
the most useful. This is a list of some recommended alternatives, they
are free unless marked ‘$’.</p>
<p>I <em>try</em> to keep this updated with useful stuff I find but it
tends to get outdated fairly quickly!</p>
<h5 class="x" id="section">111</h5>
<h1 id="notes-and-info-management">Notes and Info management</h1>
<p>In addition to the stuff that comes bundled with your operating
system (MS OneNote, Mac Notes) you should probably be aware of
these…</p>
<dl>
<dt><a href="http://evernote.com">Evernote</a></dt>
<dd>
if you don’t use Evernote already, you should probably start now! Keep
the stuff you find on the web, take clippings, organise and tag relevant
information, find it when you need it.
</dd>
<dt><a href="https://obsidian.md">Obsidian</a> (free or $)</dt>
<dd>
As of 2021 this is my favourite and preferred note taking / organisation
tool. It’s the best (IMHO) of a new breed of note-taking programs (like
‘Roam’ below) that have internal linking (make your own wiki), and a
variety of advanced features - eg. you can embed whole webpages in your
notes - and the ability to use a variety of javascript plugins to do
clever things with your notes. You could also try <a
href="https://logseq.com">Logseq</a>, which is similar but with a
different emphasis.
</dd>
</dl>
<p>Most of these type of apps use ‘markdown’ as a way to create rich
content, add links etc. so a familiarity with <a
href="https://commonmark.org/help/tutorial/">markdown principles</a> is
essential.</p>
<dl>
<dt><a href="https://roamresearch.com/">Roam Research</a> ($)</dt>
<dd>
Note-taking meets blogging meets to-do-lists…meets…<br />
Easier if you just try it. Documentation is tricky but stick with it and
keep experimenting…
</dd>
<dt><a href="http://brettterpstra.com/projects/nvalt/">nvAlt</a>
(notational velocity)</dt>
<dd>
simply keep all those text snippets and notes in an easy to access
place. Also use <a href="http://markdownlivepreview.com/">markdown</a>
for formatting and turn notes into webpages via <a
href="https://app.simplenote.com/">Simplenote</a>.
</dd>
<dd>
<p><em>UPDATE:</em> Some time in 2021 we should see the release of a new
project involving the developer of nvAlt, Brett Terpstra, called ‘<a
href="https://nvultra.com/">nvUltra</a>’, probably worth keeping an eye
on as he tends to make very useful, well-designed stuff.</p>
</dd>
<dt><a href="https://app.simplenote.com/">Simplenote</a></dt>
<dd>
Similar functionality and feel to nvAlt for those who prefer to keep
things entirely online. Great for keeping notes synced across devices.
</dd>
<dt><a href="https://www.zettlr.com/">Zettlr</a></dt>
<dd>
Another plain text note taking app, but with some useful additional
functionality, like the ability to use <a href="https://pandoc.org/"
target="_blank">Pandoc</a> to include citations and references, and then
to export to a number of different document formats. Great UI, also —
when you get used to its somewhat idiosyncratic way of thinking — a
really great, and always improving, tool to help you write and produce
documents.
</dd>
<dt><a href="http://www.bear-writer.com/">Bear</a></dt>
<dd>
note and writing app on the Mac AppStore, looks smooth, nice
illustrations of bears!
</dd>
<dt><a
href="http://www.devontechnologies.com/products/devonthink/overview.html">DevonThink</a>
($)</dt>
<dd>
info organiser, a bit like a file manager but with lots of extras, good
for managing lots of project-related documents/images/data-files etc.
</dd>
<dt><a href="http://notion.so">Notion</a></dt>
<dd>
Notes, that turn into a wiki, that includes calendars, and ‘to do’ lists
and code/text snippets. Free for a limited number of ‘chunks’, not
expensive even if you do decide to pay. Cheapest monthly subscription is
US$5. This is what I use to maintain the webpages for course materials.
</dd>
</dl>
<h5 class="x" id="section-1">222</h5>
<h1 id="writing">Writing</h1>
<p>This list starts with the standard <a
href="https://en.wikipedia.org/wiki/WYSIWYG" target="_blank">WYSIWYG</a>
apps, then gets progressively geekier; higher up the list generally
means, easier to learn, less control; lower down means, more learning
required but also more control (and probably more automation).</p>
<dl>
<dt>MSWord ($)</dt>
<dd>
you know what Word is; but, just because everybody uses it, that doesn’t
necessarily make it the best tool for what you want to do. Remember that
there are alternative, sometimes better and easier ways to work.
</dd>
<dt><a href="https://www.openoffice.org/">OpenOffice</a> (also <a
href="https://www.libreoffice.org/">LibreOffice</a>, <a
href="https://www.neooffice.org/">NeoOffice</a> ($, Mac only) etc)</dt>
<dd>
like MSWord but free! Uses the OpenDocument standard which has been
adopted by the UK government (and others), this would seem to indicate a
high degree of reliability so don’t be perturbed by the fact it’s
OpenSource free software. In general these do pretty much what MSOffice
does. Can read and produce MSWord <code>.docx</code> files etc.
</dd>
<dt><a href="http://www.ommwriter.com/">OmmWriter</a>
($-if-you-want)</dt>
<dd>
distraction-free writing! If you find all MSWord’s buttons are a
temptation to distraction, try this, it’s just you and your writing on
the screen. Very minimal! Ommmmmmmm…..
</dd>
<dt><a
href="https://www.literatureandlatte.com/scrivener.php">Scrivener</a>
($)</dt>
<dd>
writing software designed for <em>writers</em> rather than people who
only want to write letters. Too many features to describe here, best
take a look at the website. Serious writing software!
</dd>
</dl>
<h2 id="plain-text-tools">Plain text tools</h2>
<p>We are now heading into the realm of WYSIWYM (what you see is what
you <em>mean</em>); with this sort of software you are often creating
your documents by separating out the ‘logic’ (i.e. the role or function
of a piece of text ) from what a piece of text <em>looks</em> like. For
instance, a ‘level one header’ <em>always</em> indicates that the bit of
text that it precedes is somehow ‘higher up’ in the document structure
than the text preceded by a ‘level two header’, but the headers
themselves may need to <em>look</em> very different depending on which
academic style you are using in your document. This type of software
allows/requires you to manage these things separately; this means that
you can ensure document styling is entirely consistent.</p>
<dl>
<dt><a href="https://atom.io/">Atom</a> (plain text editor)</dt>
<dd>
a general purpose plain text editor, built for programmers really but as
it’s ‘hackable’ it can be adapted to just about any purpose. There are
extensions(‘packages’) which allow/help you to write and preview various
types of markdown… and to do just about anything else might want to with
plain text!
</dd>
</dl>
<p>UPDATE: There are now SO many plain-text note apps that it’s getting
pretty much impossible to keep track of them, so those mentioned here
are the ones I know of an have at least tried…</p>
<dl>
<dt><a href="http://aquamacs.org/">Aquamacs</a> (Emacs, Vim etc)</dt>
<dd>
Aquamacs is a Mac-friendly version of the venerable <a
href="https://www.gnu.org/software/emacs/">Emacs</a>, which normally
runs inside a terminal. In general terms it’s the same as Atom above, a
text editor, but it’s much older, better established and therefore with
even more possibilities - you can manage your to-do list, maintain a
calendar and read your mail in Emacs, if you want. Requires a degree of
computing nouse, so not for the faint of heart ;)
</dd>
<dt><a href="http://www.texts.io/">Texts</a> (Trial period, then $)</dt>
<dd>
looks more like a ‘normal’ WYSIWYG-style editor but actually uses a
clever piece of software called <a href="http://pandoc.org/">Pandoc</a>
to create different types of documents from your text (which is actually
<a href="https://en.wikipedia.org/wiki/Markdown"
target="_blank">markdown</a> formatted by the app to not look like it).
If you set it up properly it will do all the generation and formatting
of your citations and bibliography for you. There is a 30-day trial
version available, then it costs US$19 to buy a licence.
</dd>
</dl>
<h5 class="x" id="section-2">333</h5>
<h2 id="online-tools">Online Tools</h2>
<dl>
<dt><a href="https://docs.google.com/">Google Docs</a></dt>
<dd>
Great for collaboration, versatile, easy to use and does most things you
might want to. Just make sure you have net access when you need to do
‘important things’ with it!
</dd>
<dt><a href="https://gingkoapp.com/">Gingko</a></dt>
<dd>
an alternative way of viewing a structured document. It’s easiest to
just look at how it works on the website. Probably not for everyone but
if you like it and it helps you organise your thinking/writing, why
not?! <strong>Update</strong>: This is now available as a <a
href="https://gingko.io/">desktop app</a> - a free trial is available
and there is a ‘pay what you want’ subscription too.
</dd>
<dt><a href="https://www.authorea.com/">Authorea</a></dt>
<dd>
Another more conventional, but very powerful, online writing an
publishing tool. It can use either markdown or (the very wonderful but
rather complex) <a href="https://www.latex-project.org/get/">LaTeX</a>.
The publishing functions are oriented towards the kind of collaborative
research and writing that happens in the life sciences and medicine, but
there’s no reason you shouldn’t play with it.
</dd>
</dl>
<h2 id="a-note-about-latex">A note about LaTeX</h2>
<p>LaTeX is also a form of ‘mark-up’ like the HTML used to make
web-pages. It is used more in the ‘hard’ sciences and mathematics but
there are good reasons to think about using it for social science
writing too, especially if you’re writing something longer than a 3000
word essay; citations and bibliographies can be generated and formatted
automatically, internal references are generated and managed
automatically, headers are numbered and formatted appropriately, and
more importantly, in general you don’t have to think about document
formatting at all and can concentrate on your content. For more
information about getting started have a look at these guides:</p>
<ul>
<li><a href="https://www.latex-project.org/about/">The LaTeX
Project</a></li>
<li><a href="https://en.wikibooks.org/wiki/LaTeX">LaTeX
Wikibook</a></li>
</ul>
<p>Be aware, the learning curve is steep but the results can be worth
the effort.</p>
<p>If you want to try LaTeX without all the messing about installing
various (quite large) bits of software there are online services you can
use to see if you like how it works.</p>
<ul>
<li>For example, <a href="https://www.overleaf.com/">Overleaf</a></li>
</ul>
<h5 class="x" id="section-3">444</h5>
<h1 id="citations-and-bibliography">Citations and Bibliography</h1>
<p>Correctly citing your sources and providing references is a
fundamental academic skill, the software mentioned here will help you
get it right.</p>
<dl>
<dt><a href="http://www.zotero.org/">Zotero</a></dt>
<dd>
a bibliographic information manager to keep a track of all that reading
you’re doing and, more importantly to make it easier to insert correct
citations and a reference list in your papers and essays. To get the
most out of Zotero you will need to install 3 different components; the
Zotero desktop app, the browser plug-in, and the word-processor software
add-ons that link Zotero to MSWord/OpenOffice. Once you’ve got all these
installed and linked together then you can capture bibliographic info
from the web (e.g. from publisher websites or Google Scholar search
results), manage the info in the desktop app, and add it (all correctly
formatted in a style of your choice) to your essay/paper.
</dd>
<dt><a href="http://www.mendeley.com/">Mendeley</a></dt>
<dd>
like Zotero but does a bit more file management for you, if you like
that sort of thing. Similar functionality to Zotero, slicker design.
This app is part of the Elsevier ‘evil empire’ ;)
</dd>
<dt><a href="http://papersapp.com/">Papers</a> ($)</dt>
<dd>
Similar to the above but for people who like to spend money on things
they can get for free…
</dd>
<dt><a href="http://www.bibsonomy.org/">Bibsonomy</a></dt>
<dd>
as above but with more of sharing/social media feel.
</dd>
</dl>
<h2 id="for-the-geekier">For the geekier…</h2>
<dl>
<dt><a href="http://bibdesk.sourceforge.net/">Bibdesk</a></dt>
<dd>
a bibliography manager that uses the ‘bibtex’ format to store
information, it’s aimed primarily at integration with LaTeX writing
tools but adaptable to other apps, I use it for writing in markdown
using an Atom plugin.
</dd>
<dt><a href="http://www.jabref.org/">JabRef</a></dt>
<dd>
as above but integrates a bit better with other apps, there’s a Firefox
plug-in (JabFox) which helps grab bibliographic info from webpages. NB.
this seems to require the Zotero plug-in to be installed too.
</dd>
</dl>
<h5 class="x" id="section-4">555</h5>
<h1 id="outliners">Outliners</h1>
<p>Many of the functions of outliners are now available in note-taking
apps like Obsidian mentioned above. If you prefer to have them separate
then these might be of interest, but if you want to be able to turn
lists into documents/note then they might be superfluous.</p>
<dl>
<dt><a href="http://checkvist.com/">Checkvist</a></dt>
<dd>
if you like to plan your writing from the structure then an outliner
might be a good way to get started. Checkvist allows you to make
outlines - hierarchical lists - to which you can add text notes,
deadlines, links etc. Then, if you like, you can export these and use
them as a heading structure for a word-processor document. Of course,
you can also just use it as a normal to-do list.
</dd>
<dt><a href="https://www.theoutlinerofgiants.com/">The Outliner of
Giants</a></dt>
<dd>
despite it’s silly name, this is a pretty good app. It’s available
online and as a ‘Chrome App’(I think…). There are free and paid
versions, it’s very versatile and you can include, by using markdown,
images, quotes etc in your outlines. Afaik, you can also email material
into the nodes on your outline, if that’s your bag!
</dd>
</dl>
<p>And too many others to mention…</p>
<h5 class="x" id="section-5">666</h5>
<h1 id="other-stuff">Other stuff</h1>
<h2 id="pdf-shrinkers">PDF Shrinkers</h2>
<p>If you need to send or share PDFs it’s often a good idea to try to
compress them first, as they can get very large very quickly. Online
compression services can often reduce the size of a PDF by 80-90%.</p>
<p><a href="https://smallpdf.com/compress-pdf">Smallpdf</a> (limits uses
per hour) <a href="https://easypdf.com/compress-pdf">EasyPDF</a> : and
lots of other similar services.</p>
<h2 id="timeliners">Timeliners</h2>
<dl>
<dt><a href="https://www.aeontimeline.com/">Aeon Timeline</a> ($)</dt>
<dd>
A timeline editor that, as well as being a fantastic bit of software,
has the additional bonus that it integrates with Scrivener (see above),
so especially useful if you are writing history, or anything with a
time-based sequence of events as a framework. Unfortunately, costs $50
but a 15% academic discount is available.
</dd>
</dl>
<h2 id="intelligent-web-search">Intelligent web-search</h2>
<dl>
<dt><a
href="http://www.devontechnologies.com/products/devonagent/overview.html">DevonAgent</a>
($)</dt>
<dd>
from the same company as DevonThink (see above), a super-sophisticated
tool for performing customised web-searches and storing the results.
</dd>
</dl>
<h2 id="last-updated-5-sep-2021">Last Updated: 5 Sep 2021</h2>
